<div
  class="bg-gray-800 flex flex-col z-10 shadow-lg shadow-black mx-96 mt-10 round"
>
  <div>
    <div class="m-10 flex flex-row">
      <div class="round overflow-hidden">
        <figure>
          <img
            class="text-lg text-gray-300"
            src="{{ album['image'] }}"
            alt="Album cover"
          />
        </figure>
      </div>
      <div class="flex flex-col justify-between ml-10">
        <div class="flex flex-row justify-between border border-gray-600 p-5">
          <div class="flex-col">
            <div class="border-2 p-2 border-[#0AFFA5] text-xs text-[#0AFFA5]">
              SCORE
            </div>
            <div>0</div>
          </div>
          <div class="flex flex-col justify-center text-lg text-gray-300 mr-40">
            <span>Band Name: {{ album["band"] }}</span>
            <span>Album Name: {{ album["album"] }}</span>
          </div>
        </div>
        <div class="flex flex-row">
          <a
            routerLink="/albums/edit/{{ album['id'] }}"
            class="btn btn-outline btn-success"
            >Edit</a
          >
        </div>
      </div>
    </div>
  </div>
  <div></div>
</div>
