<div
  class="bg-gray-800 flex flex-col z-10 shadow-lg shadow-black mx-96 mt-10 round"
>
  <div class="ml-10 m-5 flex flex-row">
    <div class="round overflow-hidden">
      <figure>
        <img
          class="text-lg text-gray-300 album-cover"
          src="{{ albumPopulated['image'] }}"
          alt="Album cover"
        />
      </figure>
    </div>
    <div class="flex flex-col justify-between mx-10 my-5">
      <div class="flex flex-col text-3xl text-gray-300 mx-20">
        <span class="mb-7">Band Name: {{ albumPopulated["band"] }}</span>
        <span>Album Name: {{ albumPopulated["album"] }}</span>
      </div>
      <div *ngIf="user" class="flex flex-row mx-20">
        <a
          routerLink="/comments/{{ albumPopulated['id'] }}/new"
          class="btn btn-outline btn-success mr-10"
          >Comment</a
        >
        <ng-container *ngIf="isOwner">
          <a
            routerLink="/albums/{{ albumPopulated['id'] }}/edit"
            class="btn btn-outline btn-success mr-10"
            >Edit</a
          >
          <a (click)="deleteAlbum()" class="btn btn-outline btn-success"
            >Delete</a
          >
        </ng-container>
      </div>
    </div>
  </div>
  <div class="ml-10 m-5 divide-y divide-gray-400">
    <p class="flex justify-center text-lg text-gray-300 mb-2">Comments</p>

    <ng-container *ngIf="!isLoading">
      <ul *ngIf="areThereComments" role="list" class="divide-y divide-gray-100">
        <div
          *ngFor="let comment of albumPopulated['commentList']; let i = index"
        >
          <app-comment
            [comment]="comment"
            [index]="i"
            [user]="user"
            [albumId]="albumPopulated['id']"
          />
        </div>
      </ul>
      <div *ngIf="!areThereComments" class="flex justify-center pt-5">
        <p class="text-xl text-gray-300">There are no comments!</p>
      </div>
    </ng-container>
  </div>
</div>
